*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: all 0.3s ease;
}
body.bg-dark a{
   color: #ffffff !important;
}
body.bg-light a{
     color: #0d6efd !important;
}
.img-bg img{

    width: 100%;
    height: 100vh;
}
.main-font-h1{
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 900;

}
span{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
     font-weight: 900;
}
.order-text {
    color: #000;
    font-family: "Fjalla One", sans-serif;
    padding-top: 40px;
}

.caption {
    padding-top: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.card-text,
h3,
h5 {
    font-family: Arial, Helvetica, sans-serif;
}


 .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border: none;
}

.card {
    border-radius: 25px !important;
    overflow: hidden;

    box-shadow:
        rgba(0, 0, 0, .2) 0 12px 28px 0,
        rgba(0, 0, 0, .1) 0 2px 4px 0,
        rgba(255, 255, 255, .05) 0 0 0 1px inset;
}

.card-body {
    padding: 20px;
    margin-top: -15px;
}

.btn-primary,
.btn-order {
    border-radius: 50px;
    width: 120px;
    transition: 1s;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #000;
}

.card-text {
    font-weight: 500;
}

h3,
h5 {
    font-weight: 600;
}
.order-btn{
    border-radius: 15px;
}
.food-bg{
    width: 60%;
    border-radius: 12px;
}
/* footer{
    background-color: wh;
    width: 100%;
    height: 60vh;
} */
.icons i{
    font-size: 30px;
    padding: 10px;
}
.links a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
#para{
    color: lightgray;
    margin-bottom: 10px;
}
